body {
    min-height: 100vh;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
    
}

/*font-family: 'Merriweather', serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

.container{
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.title{
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.65px;
    padding-bottom: 18px;
    position: relative;
    align-self: flex-start;
}

.title::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background:#FCBB08;
    bottom: 0;
    left: 0;
    
}

.header__top-inner{
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


.menu__list{
    display: flex;
    
}
.menu__list-link + .menu__list-link  {
    margin-left: 32px;
    
}
.menu__list-link{
    padding: 0 9px 9px;
    text-decoration: none;
    margin-left: 32px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6px;
    color: #373A39;
}

.menu__list-link:hover{
    border-bottom: 1px solid#FCBB08;
    
}

.header__content{
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.header__title{
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 87.77px;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 140px;
}

.header__subtitle{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.74286px;
    color: #FCBB08;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: auto;
}

.header__content-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 102px);
    justify-content: space-between;
}

.header__icon{
    margin-bottom: 62px;
}

.about{
    background-color: #F6F8FA;
    padding: 150px 0 144px; /*144 потому что 
    маржин есть 18 пх в эбаут текст*/
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__text p{
    max-width: 770px;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.about__title{
    font-size: 48px;
}

.expertise{
    padding: 140px 0 160px;
}

.expertise__title{
    margin-bottom: 90px;
}

.expertise__inner{
    display: flex;
    margin-bottom: 110px;
}

.expertise__info{
    width: 370px;
    flex: none;
    margin-right: 30px;
    margin-top: 3px;
}

.expertise__info-item{
    border-top: 2px solid  #1D1D1D;
    padding: 2xp 0 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color:#1D1D1D;
    position: relative;
}

.expertise__info-item span{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 7px;
}

.expertise__info-item span::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #f0f0f0;
    right: -7px;
    top: -2px;
    width: 100%;
}

.expertise__text p{
    margin-bottom: 25px;

}

.expertise__items{
    display: flex;
    justify-content: space-between;
}

.expertise__item{
    padding-left: 85px;
    width: 370px;
    position: relative;
}

.expertise__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--design::before{
    background-image: url('../img/vector.svg');
}

.expertise__item--web::before{
    background-image: url('../img/monitor.svg');
}

.expertise__item--marketing::before{
    background-image: url('../img/speaker.svg');
}


.expertise__item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.29px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.expertise__item-text{
    color: #777777;
    margin-top: 16px;
}

.magic{
    background-color: #F6F8FA;
    background-image: url('../img/dog-bj.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 95%;

}

.magic__inner{
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0 190px;

}

.magic__title{
    margin-bottom: 67px;
}

.magic__text p{
    margin-bottom: 25px;
}

.portfolio{
    padding: 140px 0 165px;
}

.portfolio__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 105px;
}

.portfolio_button{
    background-color: transparent;
    border: none;
    padding: 0 4px 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #333333;
    text-transform: uppercase;
    margin-right: 25px;
}
.mixitup-control-active{
    border-bottom: 1px solid #FCBB08;
}

.portfolio__filter-button{
    margin-right: 35px; ;
}

.portfolio__content{
    column-count: 4;
    column-gap: 23px;
}

.portfolio__item{
    margin-bottom: 22px;
    position: relative;
}

.portfolio__item-link{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #4C4949;
    border: 12px solid #666363;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;
}

.portfolio__item-link:hover{
    opacity: 1;
}
.portfolio__item img{
    width: 100%;

}

.porfolio_add{
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: #242121;
    padding: 40px 15px 40px;
    background-color: #F6F8FA;
    margin-top: 70px;
    text-transform: uppercase;
    margin-bottom: 130px;
}

.blockquote{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0px;
    color: #242121;
    max-width: 650px;
    margin: 0 auto 148px;
    text-align: center;
}

.blockquote__author{
    display: block;
    color: #9E9E9E;
    font-size: 18px;
    line-height: 36px;
    padding-top: 50px;
}

.portfolio__video{
    background-image: url('../img/video.jpg');
    background-repeat: no-repeat;
    height: 324px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.portfolio__numbers{
    display: flex;
    justify-content: space-around;
}

.portfolio__numbers-item{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 9px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
    
}

.portfolio__numbers-item span{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    display: block;
    color: #333333;
    padding-bottom: 195px;
}

.slider{
    background-color: #F8F6FA;
    padding: 115px 0;
}

.slider__inner-item{
    padding: 190px 0px;
}

.slider__inner-title{
    max-width: 600px;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #242121;
    margin-bottom: 10px;
}

.slider__inner-text{
    max-width: 550px;
}

.slick-dots{
    display: flex;
}

.slick-dots button{
    width: 6px;
    height: 6px;
    opacity: 0.4;
    background-color: #242121;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
}
.slick-dots li+li{
    margin-left: 13px;
}

.slick-active button{
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: translateY(-2px);
}

.slick-prev,
.slick-next{
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}

.slick-prev{
    left: -95px;
}

.slick-next{
    right: -95px;
}

.team{
    padding: 120px 0 130px;
}

.team__title{
    margin-bottom: 100px;
}

.team__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.team__name{
    padding: 35px 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #333333;

}

.team__position{
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #373A39
}

.pricing{
    padding: 145px 0 160px;
    background-color: #F6F8FA; 
}

.pricing__title{
    margin-bottom: 90px;
}

.pricing__items{
    display: flex;
    justify-content: space-between;
}

ul.pricing__item{
    background-color: #fff;
    width: 370px;
    text-align: center;
    padding: 25px 25px 53px;
}

.pricing__item-name{
    display: flex;
    align-items: flex-end;
    color: #242121;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px; 
    margin-bottom: 23px;
}

.pricing__item-price{
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    color: #242121;
    margin-bottom: 50px;
}

.pricing__item-price sup{
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
}

.pricing__item-info{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.pricing__item-link{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
    margin-top: 70px;
    display: block;
}

.clients{
    padding: 70px 0 95px;
}

ul.clients__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    padding: 145px 0 162px;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right 65%;
}

.contact__title{
    margin-bottom: 78px;
}

.form{
    max-width: 570px;
}

.form input,
.form textarea{
    border: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid #373A39;
    padding: 16px 0;
    margin-top: 16px;
    outline: none;
}

.form textarea{
    margin-top: 37px;
    min-height: 135px;
    resize: none;
}
.form input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
}

.form textarea::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
}

.form button{
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    background-color: #242121;
    padding: 17px 70px 15px;
}

.footer{
    text-align: center;
}

.footer__top{
    padding: 110px 0 60px;
    background-color: #333;
}

.footer__logo{
    display: flex;
    justify-content: center;
}

ul.footer__items{
    display: flex;
    justify-content: center;
    margin: 72px 0 65px;
}

.footer__item-list + .footer__item-list{
    margin-left: 31px;
}

.footer__item-link{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
}
.footer__contact{
    margin-bottom: 57px;
}
.footer__contact a{
    display: block;
}

.adress,
.phone,
.email{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
}

.go-top img{
    display: inline-block;
}

.footer__copy p{
    background-color: #2A2C2B   ;
    color: #cccccc;
    padding: 41px 0 41px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
